Calculate GPA

In [9]:
import pandas as pd 
data = pd.read_csv("courses.csv")
data.head()

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,LCD,6,13,0,...,1,0,3,0,1,1,0,0,0,"Lee, Sang S"
1,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,0,11,5,...,2,1,0,1,1,0,0,0,0,"Zheng, Reanne"
2,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,0,10,7,...,1,0,0,0,0,0,0,2,0,"Zheng, Reanne"
3,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,17,8,1,...,0,0,0,0,0,0,0,0,0,"Rosado-Torres, Alexander"
4,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,OD,0,8,4,...,2,1,0,0,0,0,1,3,1,"Wang, Yu"

In [10]:
count=data[('A')]+data[('A+')]+data[('A-')]+data[('B')]+data[('B+')]+data[('B-')]+data[('C')]+data[('C+')]+data[('C-')]+data[('D')]+data[('D+')]+data[('D-')]+data[('F')]
points = data[('A')]*4+data[('A+')]*4+data[('A-')]*3.67+data[('B')]*3+data[('B+')]*3.33+data[('B-')]*2.67+data[('C')]*2+data[('C+')]*2.33+data[('C-')]*1.67+data[('D')]*1+data[('D+')]*1.33+data[('D-')]*0.67+data[('F')]*0
GPA=points/count
GPA

0        3.413793
1        3.440400
2        3.358519
3        3.928571
4        2.921429
           ...
64043    3.183226
64044    3.774643
64045    2.595714
64046    2.603333
64047    3.205641
Length: 64048, dtype: float64

Function that takes in a major and finds the professors with the top 5 average grades and the lowest 5 average grades

In [11]:
major = 'CS'
majordata = data[data['Subject'] == major]


instructor = majordata.groupby('Primary Instructor').sum()[['A', 'A+', 'A-', 'B', 'B+', 'B-', 'C', 'C+', 'C-', 'D', 'D+', 'D-', 'F', 'W']]
instructor['count'] = instructor.sum(axis=1)
instructor['points'] = instructor['A+']*4 + instructor['A']*4 + instructor['A-']*3.67 + instructor['B+']*3.33 + instructor['B']*3 + instructor['B-']*2.67 + instructor['C+']*2.33 + instructor['C']*2 + instructor['C-']*1.67 + instructor['D+']*1.33 + instructor['D']*1 + instructor['D-']*0.67 + instructor['F']*0
instructor['GPA'] = instructor['points'] / instructor['count']


top_5 = instructor.sort_values(by='GPA', ascending=False).head(5)
bottom_5 = instructor.sort_values(by='GPA').head(5)

print(top_5, bottom_5)

                           A   A+  A-  B  B+  B-  C  C+  C-  D  D+  D-  F  W  \
Primary Instructor
Chandrasekharan, Eshwar    6   25   0  0   1   0  0   0   0  0   0   0  0  0
Ludaescher, Bertram       61  750  11  9   2   6  0   0   0  0   0   0  2  1
Renear, Allen H          184  737  25  7  19   2  2   0   0  0   0   0  4  1
Ringer, Talia L            2   16   2  0   2   0  0   0   0  0   0   0  0  0
Soltanaghai, Elahe        19    4   0  1   0   1  0   0   0  0   0   0  0  0

                         count   points       GPA
Primary Instructor
Chandrasekharan, Eshwar     32   127.33  3.979062
Ludaescher, Bertram        842  3334.05  3.959679
Renear, Allen H            981  3869.36  3.944302
Ringer, Talia L             22    86.00  3.909091
Soltanaghai, Elahe          25    97.67  3.906800                         A  A+  A-    B  B+  B-    C  C+  C-   D  D+  D-    F  \
Primary Instructor
Karahan, Ibrahim     10   0   1    9   2   1   12   2   0   5   0   0    9
Fanek, Samer R        3   4   1    4   6   7    7   8   7   0   1   1    3
Kravets, Robin H    260  28  66  173  49  55  126  35  49  69  32  37  137
Singh, Varun K        5   0   2    2   1   1    5   1   0   5   0   0    1
Kassa, Debessay F     5   0   0    7   2   1    6   0   0   0   0   0    4

                     W  count   points       GPA
Primary Instructor
Karahan, Ibrahim     0     51   113.66  2.228627
Fanek, Samer R       1     53   128.67  2.427736
Kravets, Robin H    15   1131  2774.97  2.453554
Singh, Varun K       0     23    56.67  2.463913
Kassa, Debessay F    0     25    62.33  2.493200

/var/folders/n6/chjlgxfx7rn21c93v6d4jx0m0000gn/T/ipykernel_6478/4081107686.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  instructor = majordata.groupby('Primary Instructor').sum()[['A', 'A+', 'A-', 'B', 'B+', 'B-', 'C', 'C+', 'C-', 'D', 'D+', 'D-', 'F', 'W']]

improve

In [15]:
print(data.head)

<bound method NDFrame.head of        Year    Term YearTerm Subject  Number                   Course Title  \
0      2022  Spring  2022-sp     AAS     100   Intro Asian American Studies
1      2022  Spring  2022-sp     AAS     100   Intro Asian American Studies
2      2022  Spring  2022-sp     AAS     100   Intro Asian American Studies
3      2022  Spring  2022-sp     AAS     100   Intro Asian American Studies
4      2022  Spring  2022-sp     AAS     100   Intro Asian American Studies
...     ...     ...      ...     ...     ...                            ...
64043  2010  Summer  2010-su    STAT     410  Statistics and Probability II
64044  2010  Summer  2010-su    STAT     440    Statistical Data Management
64045  2010  Summer  2010-su     TAM     212          Introductory Dynamics
64046  2010  Summer  2010-su     TAM     251   Introductory Solid Mechanics
64047  2010  Summer  2010-su     TAM     335   Introductory Fluid Mechanics

      Sched Type  A+   A  A-  ...  B-  C+  C  C-  D+  D  D-  F  W  \
0            LCD   6  13   0  ...   1   0  3   0   1  1   0  0  0
1            DIS   0  11   5  ...   2   1  0   1   1  0   0  0  0
2            DIS   0  10   7  ...   1   0  0   0   0  0   0  2  0
3            DIS  17   8   1  ...   0   0  0   0   0  0   0  0  0
4             OD   0   8   4  ...   2   1  0   0   0  0   1  3  1
...          ...  ..  ..  ..  ...  ..  .. ..  ..  .. ..  .. .. ..
64043        LEC   5  10   2  ...   1   0  1   3   0  0   0  2  1
64044        LEC   4  12   8  ...   0   0  0   0   0  0   0  0  0
64045        LEC   0   1   3  ...   7   5  1   1   0  2   0  1  0
64046        LCD   1   2   2  ...   0   3  3   2   0  0   1  1  0
64047        LEC   5   8   9  ...   1   0  4   0   0  1   0  2  0

             Primary Instructor
0                   Lee, Sang S
1                 Zheng, Reanne
2                 Zheng, Reanne
3      Rosado-Torres, Alexander
4                      Wang, Yu
...                         ...
64043        Stepanov, Alexei G
64044              Unger, David
64045         Morgan, William T
64046  Ott-Monsivais, Stephanie
64047          Keane, Richard D

[64048 rows x 22 columns]>

In [16]:
# Replace 'COURSE_CODE' with the course code you want to find the professor's average GPA for
#course = 'Intro Asian American Studies'
course = 'ASS100'
# Filter the data by course code
#coursedata = data[data['Course Title'] == course]

coursedata = data[(data['Subject'] == course[:3]) & (data['Number'] == int(course[-3:]))]

print("coursedata: ", coursedata)
# Group the data by primary instructor and calculate their GPA
instructor = coursedata.groupby('Primary Instructor').sum()[['A', 'A+', 'A-', 'B', 'B+', 'B-', 'C', 'C+', 'C-', 'D', 'D+', 'D-', 'F', 'W']]
instructor['count'] = instructor.sum(axis=1)
instructor['points'] = instructor['A+']*4 + instructor['A']*4 + instructor['A-']*3.67 + instructor['B+']*3.33 + instructor['B']*3 + instructor['B-']*2.67 + instructor['C+']*2.33 + instructor['C']*2 + instructor['C-']*1.67 + instructor['D+']*1.33 + instructor['D']*1 + instructor['D-']*0.67 + instructor['F']*0
instructor['GPA'] = instructor['points'] / instructor['count']

# Sort the data by GPA and show the top 5 and bottom 5 results
top_5 = instructor.sort_values(by='GPA', ascending=False).head(5)
bottom_5 = instructor.sort_values(by='GPA').head(5)

# Print the results
print(f"Professor's average GPA for course {course}: {instructor['GPA'].mean()}")
print("Top 5 instructors by GPA:\n", top_5)
print("Bottom 5 instructors by GPA:\n", bottom_5)

coursedata:  Empty DataFrame
Columns: [Year, Term, YearTerm, Subject, Number, Course Title, Sched Type, A+, A, A-, B+, B, B-, C+, C, C-, D+, D, D-, F, W, Primary Instructor]
Index: []

[0 rows x 22 columns]
Professor's average GPA for course ASS100: nan
Top 5 instructors by GPA:
 Empty DataFrame
Columns: [A, A+, A-, B, B+, B-, C, C+, C-, D, D+, D-, F, W, count, points, GPA]
Index: []
Bottom 5 instructors by GPA:
 Empty DataFrame
Columns: [A, A+, A-, B, B+, B-, C, C+, C-, D, D+, D-, F, W, count, points, GPA]
Index: []

/var/folders/n6/chjlgxfx7rn21c93v6d4jx0m0000gn/T/ipykernel_6478/461148243.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  instructor = coursedata.groupby('Primary Instructor').sum()[['A', 'A+', 'A-', 'B', 'B+', 'B-', 'C', 'C+', 'C-', 'D', 'D+', 'D-', 'F', 'W']]